<!-- <p style="color: green"><%= notice %></p> -->
<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<%#= render @user %>
<p><italic>Created:</italic> <%= @user.created_at %></p>
<p><italic>Updated:</italic> <%= @user.updated_at %></p>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
