<html>
<head>

</head>
<body>
<% provide(:title, 'Weather Report') %>
<!--h1>Weather</h1-->
<%= link_to 'Back', :back %>
<!--div>
Location:
<% lat_long = "#{@city.lat},#{@city.lng}"  %>
<%= "#{@city.name} #{@city.state}  #{lat_long}" %>
</div-->
<%    
require "http"
url="https://api.weather.gov/points/#{lat_long}"
puts ">>>>>>>>>>>"+url
metadata_response_s=HTTP.get(url)
if(metadata_response_s.code==500)
   flash[:info] = "No metadata currently unavailable for this location, try again later"
else 
    #metadata_response_s=HTTP.get("https://api.weather.gov/points/38.8894,-77.0352")
    require "json"
    metadata_json=JSON.parse(metadata_response_s) # json is Ruby class: hash
    forecast_city= metadata_json.fetch("properties").fetch("relativeLocation").fetch("properties").fetch("city")
    forecast_state= metadata_json.fetch("properties").fetch("relativeLocation").fetch("properties").fetch("state")
    forecast_url_s=metadata_json.fetch("properties").fetch("forecast")
    forecast_response_s=HTTP.get(forecast_url_s)
    if(forecast_response_s.code==500)
        flash[:info] = "No forecast data at this time for this location, try again later"
    else 
        forecast_hourly_s=HTTP.get(forecast_url_s+"/hourly")
        if (forecast_hourly_s.code==500)
          flash[:info] =  "No hourly data available at this time for this location, try again later"
        else 
            forecast_json=JSON.parse(forecast_response_s)
            forecastHourly_json=JSON.parse(forecast_hourly_s)
            forecast_datetime=forecastHourly_json.fetch("properties").fetch("updated")

            nt={} 
            nta=[]
            forecastHourly_json.fetch("properties").fetch("periods").each do |p| 
                n=p.fetch("number")
                name=p.fetch("name")
                dt=p.fetch("startTime") #p n+" "+name
                t=p.fetch("temperature")
                nt[n]=t
                nta.push([dt,t])
            end
            now_icon=forecastHourly_json.fetch("properties").fetch("periods").at(0).fetch("icon")
            now_period_name=forecastHourly_json.fetch("properties").fetch("periods").at(0).fetch("name")
            now_shortForecast=forecastHourly_json.fetch("properties").fetch("periods").at(0).fetch("shortForecast")
            now_detailedForecast=forecastHourly_json.fetch("properties").fetch("periods").at(0).fetch("detailedForecast")
            now_temperature=forecastHourly_json.fetch("properties").fetch("periods").at(0).fetch("temperature")
    

        %>
        <%#=forecastHourly_json.fetch("properties").fetch("periods").first%>
        <br>
        <table style="text-align:left">
            <!--tr><td> <strong><%=forecast_city%>, <%=forecast_state%></strong></td></tr -->
            <tr><td><%=forecast_city%>, <%=forecast_state%></td></tr>
            <tr><td>Currently <%= now_temperature%>ยบ and <%= now_shortForecast%>
            </tr></td>
            <!--
            <tr><td>
                <%= forecast_datetime[0..9]+" "+forecast_datetime[11..15] %></tr></td>
            <tr><td> 
            -->
                <img src="<%=now_icon.gsub("small","large")%>" style="border-radius: 50%;">
            </tr></td>
        </table></div>
        </div><br>
        <div style="padding-left: 20px;">
            <%#=line_chart(nt)%>
            <i style="padding-left: 50px;">Temperatures for the next <%=forecastHourly_json.fetch("properties").fetch("periods").size/24%> days:</i>
            <%= line_chart nta, xtitle: "", ytitle: "Temperature F", width:"400px" %>
            <%#= line_chart({"2021-01-01" => 2, "2021-01-02" => 3}) %>
            <%#= line_chart( [ ['A', 2] , ['B',3], ['C',1.2]  ]) %>
            <%#= geo_chart Medal.group(:country).count %>
        </div>
<%
        end # forecastHourly_s.code==500
     end # forecast_response_s.code==500
 end # metadata_response_s.code==500
%>
  </body>
  </html>